.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

.bg {
  background-image: url("./img/bg.png");
  background-size: 25%;
  background-repeat: repeat-x;
  background-position: 0px 0px;
}

.darken {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  opacity: 0.65;
  position: absolute;
}

.intro {
  margin-bottom: 4rem !important;
}

.skills > div {
  margin: 2rem 0;
}

.mb {
  margin: 2rem 0;
}

main {
  height: 100%;
  position: relative;
}

.card {
  min-height: 100%;
}

.columns:last-child {
  margin-bottom: 0.75rem;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .bg {
    background-size: 60%;
  }
}
