<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" sizes="192x192" href="/img/logo.png">
  <meta name="theme-color" content="#0d1017">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Efren Palacios</title>
  <style>
    ::-moz-selection {
      background: rgba(0, 0, 0, .5);
    }

    ::selection {
      background: rgba(0, 0, 0, .5);
    }
  </style>
</head>

<body class="bg-gray-900 text-gray-100 anchor">
  <div id="app">
    <!-- Header -->
    <div data-aos="fade-down" class="mx-auto text-center h-screen flex flex-col items-center justify-center">
      <div class="flex sm:flex-row flex-col justify-center items-center">
        <img class="border-4 border-solid border-yellow-500 w-32" src="/img/logo.png" alt="" srcset="">
        <div class="flex flex-col text-center sm:text-left sm:ml-5">
          <p class="font-semibold text-5xl text-yellow-500">Efren Palacios</p>
          <p class="uppercase font-semibold text-sm">&nbsp;Web Designer &amp; Programmer</p>
        </div>
      </div>
      <a href="#profile"><button
          class="mt-8 bg-yellow-500 hover:bg-yellow-300 text-gray-900 font-bold py-2 px-4 rounded outline-none flex justify-center items-center">
          View Portfolio <img width="25px" class="ml-4" src="/img/chevron.svg" alt="">
        </button></a>
    </div>
    <!-- About -->
    <div data-aos="fade-right" class="h-screen flex flex-col justify-center items-center">
      <div id="profile" class="sm:w-3/5 mt-32 h-full">
        <img class="mx-auto w-32 my-10" src="/img/avatar.png" alt="" srcset="">
        <h1 class="uppercase font-semibold text-4xl text-yellow-500 my-5 text-center">About Me</h1>
        <p class="text-xl text-center p-4">I'm a Programmer living in Orange County, California. Currently developing
          software using
          NodeJS, Rest APIs, WebSockets, and Electron. I'm passionate towards Web & UI Design, Data Manipulation,
          Video Games and eSports. </p>
        <div class="flex justify-center mx-4 sm:mx-0 my-10">
          <img class="sm:w-1/2" src="/img/design.svg" alt="">
        </div>
      </div>
    </div>
    <div data-aos="fade-left" class="h-screen sm:mt-0 mt-32">
      <div class="my-8 border-2 border-solid border-yellow-500 sm:w-1/3 w-5/6 p-6 mx-auto">
        <h1 class="uppercase font-semibold text-2xl text-yellow-500 text-center mx-auto">Languages</h1>
      </div>
      <div class="flex justify-center sm:justify-start sm:w-1/3 w-full flex-wrap mx-auto">
        <div v-for="item of languages" class="flex flex-col justify-center items-center">
          <div class="mx-10 mt-5">
            <img class="sm:w-10 w-8" :src="'/img/'+item+'.svg'" alt="">
          </div>
          <div>
            <p>{{item}}</p>
          </div>
        </div>
      </div>
      <div class="my-8 border-2 border-solid border-yellow-500 sm:w-1/3 w-5/6 p-6 mx-auto">
        <h1 class="uppercase font-semibold text-2xl text-yellow-500 text-center">Development Tools</h1>
      </div>
      <div class="flex justify-center sm:justify-start sm:w-1/3 w-full flex-wrap mx-auto">
        <div v-for="item of tools" class="flex flex-col justify-center items-center">
          <div class="mx-10 mt-5">
            <img class="sm:w-10 w-8" :src="'/img/'+item+'.svg'" alt="">
          </div>
          <div>
            <p>{{item}}</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-gray-900 p-6 text-center">
      <p>
        Site designed by Me © Efren Palacios <a class="text-yellow-400 hover:text-yellow-200"
          href="mailto:contact@efrenpalacios.dev">contact@efrenpalacios.dev</a>
      </p>
    </footer>

  </div>

  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        languages: ['JavaScript', 'PHP', 'Ruby', 'Python', 'CSS3', 'HTML5'],
        tools: ['VSCode', 'GitHub', 'BitBucket', 'GitLab', 'Bulma', 'TailwindCSS', 'PowerShell', 'ConEmu', 'Hyper']
      },
      mounted: function () {
        AOS.init();
      }
    })
  </script>
</body>

</html>