@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-tap-highlight-color: transparent;
}

a,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: background 250ms ease, color 250ms ease, border-color 250ms ease,
    opacity 250ms ease;
}

body {
  background-color: #0a0a0a;
}

nav {
  background-color: #e2732b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 93px;
  color: white;
  border-bottom: 7px solid #273566;
}

.social,
.menu {
  display: flex;
}

.navbar {
  background-color: #f0f0f0;
  color: #0a0a0a;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 100%;
  width: 40vw;
}

.social a {
  margin: 0 10px;
}

.logo {
  display: flex;
  height: auto;
  margin-left: 20%;
}

header {
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  margin-top: auto;
  margin-bottom: auto;
}

.slogan {
  font-size: 72px;
  line-height: 62px;
  text-shadow: 1px 2px 2px black;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.title h2 {
  font-size: 28px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-shadow: 1px 2px 2px black;
}

.main-color {
  color: #e2732b;
}

.white {
  color: #d9d9d9;
}

.title {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  width: 160px !important;
  padding: 1em 2em;
  text-transform: none;
  background-color: transparent;
  border: 1px solid #e2732b;
  color: #f2f2f2;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  width: 100%;
}
.btn:hover {
  background-color: #e2732b;
  color: black;
}

.brands {
  display: flex;
  height: 105px;
  width: 100%;
  margin-top: auto;
  align-items: flex-end;
}

.games {
  align-self: stretch;
  height: 107px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("http://www.echofox.gg/images/landing/games.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menu {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  height: 100%;
  width: 100vw;
  background-position: 100% 0;
  background-size: 205% 100%;
  transition: all 0.25s ease-in;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #d6661d 50%,
    #d6661d
  );
}

.menu a:hover {
  color: #fff;
  background-position: 0 0;
}

.social a:hover,
.mobilesocial a:hover,
.hamburger-menu > ul > li > a:hover {
  color: #934614;
}

.newscontainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.fcl {
  flex-direction: column;
}

.articles {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
}

.news {
  display: flex;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  margin: 20px 10px 0 10px;
  font-family: "Open Sans", sans-serif;
  text-shadow: 2px 2px 2px black;
  flex-direction: column;
  transition: transform 0.2s;
}

.article-title {
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.article-cover:hover {
  background-color: rgba(255, 147, 74, 0.1);
  transition: all 250ms ease-in-out;
}
.article-cover {
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(105, 49, 249, 0.2));
  display: flex;
  padding: 10px 15px;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  transition: all 250ms ease;
}

.article-topic {
  height: 30px;
  line-height: 31px;
  padding: 0 8px;
  font-size: 11px;
  background: rgba(39, 53, 102, 0.6);
  border-left: 3px solid rgba(226, 115, 43, 0.7);
  font-weight: 700;
  color: white;
  top: 10;
  left: 20;
  font-family: "Helvetica", sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px black;
  font-variant: small-caps;
  box-shadow: 1px 1px 2px black;
}

.article-name {
  color: #e2732b;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.mobilesocial {
  display: flex;
}

.mobilesocial {
  background-color: white;
}

.article-des {
  color: #fafafa;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: -1px;
  display: flex;
  height: 220px;
  align-items: flex-end;
}

.author,
.article-stats {
  color: white;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  padding: 1rem 0;
}

p,
span,
strong {
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.matches {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  margin: 2em auto;
  color: white;
  width: 100%;
  text-align: center;
  line-height: 30px;
}

.matches-subtitle {
  color: rgba(122, 122, 122, 0.5);
  text-transform: none;
  font-size: 18px;
}

.matchlist {
  display: flex;
  flex-direction: column;
}

.matches-box {
  background-color: rgba(29, 28, 32, 0.67);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.18);
  padding: 18px;
  color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin: 1em auto;
  justify-content: space-around;
}

.match-divider {
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.matches-title {
  font-size: 22px;
  font-weight: 700;
}

.matches-date,
.match-view {
  color: #727b84;
  letter-spacing: 2px;
  margin: 2px 0;
  font-size: 10px;
}

.match-view {
  color: #e2732b;
}

.match-view i {
  font-size: 28px;
  font-style: normal;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  vertical-align: bottom;
}

.matches-details {
  display: flex;
  justify-content: center;
}

.matches-team {
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5em 0;
}

.matches-team > a {
  align-self: center;
}

.team-name {
  font-size: 22px;
  font-weight: 500;
  color: #59636b;
  display: flex;
}

.matches-team a > img {
  max-height: 90px;
  max-width: 90px;
}

.matches-vs {
  color: #fff;
  margin-bottom: 26px;
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: 900;
}

.main {
  background: center #060606;
  background-size: cover;
  color: #fff;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.article-stats {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.stat {
  margin-left: 10px;
}

.blog {
  height: 450px;
  width: 100%;
  background-color: #141414;
  color: #dedede;
  background-size: cover;
  background: center #060606;
  margin-top: 15px;
}

.blog-container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.blog-label {
  height: 50px;
  line-height: 51px;
  padding: 0 8px;
  font-size: 18px;
  background: rgba(39, 53, 102, 0.6);
  border-left: 5px solid rgba(226, 115, 43, 0.7);
  font-weight: 700;
  position: absolute;
  color: white;
  margin: 15px;
  font-family: "Helvetica", sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px black;
  font-variant: small-caps;
}

.blog-title {
  padding: 1rem 1.5rem;
}

.blog-content {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.blog-title h1 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
}

.author-container {
  background-color: #1a1a1a;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Arial", sans-serif;
}

.blog-author img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin: 10px;
}

.author-name {
  color: #e2732b;
  font-weight: bold;
}

.blog-author {
  border-left: 3px solid #e2732b;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  color: #646464;
  background-color: rgba(50, 50, 50, 0.2);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.blog-avatar {
  display: flex;
  flex: 1;
  align-items: center;
}

.blog-social a:hover {
  color: #c8c8c8;
  background-color: rgba(0, 0, 0, 0.2);
}

.blog-social a {
  display: flex;
  padding: 1em 2em;
  display: inline-block;
}

.blog-social strong {
  margin-right: 10px;
}

.author-post {
  padding: 0.9em;
  color: #969696;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
  letter-spacing: 0.015em;
  word-wrap: break-word;
  margin: 10px;
}

.author-name a:hover {
  color: #f69855;
}

.blog-social a:hover {
  color: #e2732b;
  border-radius: 4px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
}

.footer-section {
  width: 120px;
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

#hamburger-checkbox {
  display: none;
}

.hamburger-menu {
  background-color: rgba(29, 28, 32, 1);
  width: 100%;
  height: 100%;
}

.hamburger {
  z-index: 3;
  position: absolute;
  top: 40px;
  left: 30px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: none;
}

.hamburger-item {
  background-color: #fff;
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  transition: 0.2s all linear;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 100%;
  height: 100%;
  background-color: #e2732b;
  transition: 250ms;
  opacity: 0;
  display: none;
  z-index: 2;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 21px;
  list-style-type: none;
  flex-grow: 1;
  flex-basis: 0;
}

.sidebar a {
  display: inline-block;
  background-color: rgba(29, 28, 32, 1);
  padding: 1em 1.2em;
  border-bottom: 3px solid rgba(255, 255, 255, 0.05);
  color: #ddd;
  width: 100%;
}

.sidebar li {
  color: white;
  font-family: "Open Sans", sans-serif;
}

#hamburger-checkbox:checked ~ .sidebar {
  left: 0;
  opacity: 1;
}

#hamburger-checkbox:checked ~ .hamburger {
  position: fixed;
}

#hamburger-checkbox:checked ~ .container {
  position: fixed;
}

#hamburger-checkbox:checked ~ .hamburger .hamburger-item:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -9px);
  width: 33px;
  top: 14px;
  position: absolute;
}
#hamburger-checkbox:checked ~ .hamburger .hamburger-item:nth-child(2) {
  display: none;
}
#hamburger-checkbox:checked ~ .hamburger .hamburger-item:nth-child(1) {
  transform: rotate(45deg) translate(2px, 9px);
  position: absolute;
  width: 33px;
  top: -1px;
}

.sidelogo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 21px;
}

@media only screen and (max-width: 600px) {
  .dtm {
    flex-direction: column;
  }

  .articles {
    width: auto;
    margin: 0 auto;
  }

  .news {
    width: auto;
  }

  .navbar,
  .social {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .sidebar {
    display: block;
  }

  nav {
    min-width: 100%;
  }

  .blog {
    background-size: cover !important;
  }

  .blog-social {
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  .share {
    display: none;
  }

  .blog-social a {
    padding: 1em 2em;
  }
  .blog-title > h1 {
    font-size: 24px;
  }
  .matches-subtitle {
    line-height: 10px;
    font-size: 16px;
  }
  .matches-box {
    width: 90vw;
    flex-direction: column;
    padding: 1em 0 0.5em 0;
  }
  .blog-social a {
    margin-left: 1px;
    padding: 0.5em 0.8em;
  }
}
