@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

$main: #000;
$sub: #ffdd00;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: lighten($main,5);
  color: darken(white, 50);
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: $main;
  height: 100px;
  transition: 200ms;
  border: 0px solid $main;
  display: flex;
  flex: 1;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: 1px 1px 15px $main;
  align-items: center;
  &__menu {
    display: flex;
    justify-items: stretch;
    align-items: stretch;
    flex: 1;
    height: 100%;
  }
  &__item--active {
    color: $sub;
  }
  &__item {
    list-style-type: none;
    text-align: center;
    flex: 1;
    border: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
      border-bottom: 2px solid $sub;
      cursor: pointer;
      padding-top: 2px;
      background-color: lighten($main,10);
      color: white;
    }
    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: lighten($main,10);
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    padding: 1em;
    height: 100px;
    width: 100px;
    filter: grayscale(100%);
    transition: 250ms;
  }
  &:hover {
    border-left: 5px solid $sub;
  }
  &:hover > .nav__logo {
    filter: grayscale(0%);
  }
}

.card {
  height: 650px;
  width: 49%;
  box-shadow: 1px 1px 15px black;
  background-color: darken($main,80);
  color: lighten($main,80);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: .5em;
  &:hover &__img {
    transform: scale(1.1);
    opacity: 1;
  }
  &__container {
    max-height: 450px;
    overflow: hidden;
    background: rgba(0,0,0,1);
  }
  &__img {
    min-height: 450px;
    transition: 250ms;
    opacity: .5;
    max-width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  &__caption {
    padding: 2em;
    border-bottom: 1px solid rgba(255,255,255,.05);
  }
  &__header {
    color: lighten($main, 90);
    font-weight: bold;
    font-size: 18pt;
    line-height: 1.1;
    margin-bottom: 10px;
    transition: 250ms;
    &:hover {
      color: goldenrod;
      cursor: pointer;
    }
  }
  &__sub {
    font-size: 10pt;
  }
  &__more {
    display: flex;
    padding: 1em;
    align-items: center;
    font-size: 10pt;
  }
  &__button {
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid goldenrod;
    padding: 1em 1.2em;
    font-weight: bold;
    color: goldenrod;
    transition: 250ms;
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
      background-color: goldenrod;
      color: $main;
    }
  }
  &__author {
    color: goldenrod;
    &:hover {
      color: lighten(goldenrod, 10);
      cursor: pointer;
    }
  }
}

.main {
  margin: 1em 2em auto; 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer {
  background-color: lighten($main, 10);
  height: 250px;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  background-image: url('http://cdn.esportsify.com/teamdignitasv2/images/logos/footer-logo.png');
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-position-x: 3.5em;
  background-position-y: 25%;
  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    flex-wrap: wrap;
    height: 150px;
    line-height: 1.5;
    font-size: 10pt;
  }
  &__container {
    border-bottom: 2px solid rgba(255,255,255,.05);
    width: 20%;
  }
  &__header {
    color: white;
    font-size: 16pt;
  }
  &__sub {
    color: darken(white,50);
    font-size: 10pt;
    font-weight: normal;
  }
  &__link {
    color: gold;
    &:hover {
      color: lighten(gold, 20);
      cursor: pointer;
    }
  }
  &__end {
    margin: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10pt;
  }
  &__img {
    height: 25px;
    position: absolute;
    left: 10px;
  }
  &__copyright {
    flex-grow: 1;
    text-align: center;
  }
}

.schedule {
  margin-top: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: lighten($main, 5);
  border-top: 1px solid lighten($main, 10);
  border-bottom: 1px solid lighten($main, 10);
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.5em 2.5em;
    height: 100%;
    position: relative;
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: lighten($main,10);
    }
    &:last-child {
      border-right: 1px solid lighten($main,10);
    }
  }
  &__hour {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: lighten($main, 90);
  }
  &__code {
    font-weight: bold;
    color: lighten($main, 80);
  }
  &__logo {
    width: 25px;
    margin-right: 5px;
  }
  &__team {
    display: flex;
    align-items: center;
  }
  &__teams {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
  &__date {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1.5px;
  }
}