<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="card.css" />

		<title>TEPPEN Card Maker</title>
	</head>
	<body class="bg-gray-900 text-white tracking-tight">
		<div id="app">
			<div class="uppercase font-bold text-center py-8"
				><p class="text-4xl">TEPPEN Card Maker</p>
				<p class="text-xl text-gray-700">By Effy</p>
			</div>
			<div class="sm:flex justify-around items-center">
				<div class="w-full md:w-1/3 bg-gray-900 p-10">
					<label
						class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
						for=""
					>
						Card Name
					</label>
					<input
						v-model="cardName"
						class="appearance-none block w-full bg-gray-800 text-white border border-gray-900 rounded py-3 px-4 leading-tight focus:outline-none mb-8 "
						id=""
						type="text"
					/>
					<label
						class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
						for=""
					>
						Tribe
					</label>
					<input
						v-model="cardTribe"
						class="appearance-none block w-full bg-gray-800 text-white border border-gray-900 rounded py-3 px-4 leading-tight focus:outline-none  mb-8"
						id=""
						type="text"
					/>
					<label
						class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
						for=""
					>
						Cost
					</label>
					<input
						@change="changeCost(cardCost)"
						v-model="cardCost"
						class="appearance-none block w-full bg-gray-800 text-white border border-gray-900 rounded py-3 px-4 leading-tight focus:outline-none  mb-8"
						id=""
						type="number"
						min="0"
						max="99"
					/>
					<label
						class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
						for=""
					>
						Attack
					</label>
					<input
						@change="changeAttack(cardAttack)"
						v-model="cardAttack"
						class="appearance-none block w-full bg-gray-800 text-white border border-gray-900 rounded py-3 px-4 leading-tight focus:outline-none  mb-8"
						id=""
						type="number"
						min="0"
						max="99"
					/>
					<label
						class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
						for=""
					>
						Health
					</label>
					<input
						@change="changeHealth(cardHealth)"
						v-model="cardHealth"
						class="appearance-none block w-full bg-gray-800 text-white border border-gray-900 rounded py-3 px-4 leading-tight focus:outline-none  mb-8"
						id=""
						type="number"
						min="0"
						max="99"
					/>

					<label
						class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
						for="grid-state"
					>
						Color
					</label>
					<div class="relative">
						<select
							@change="changeEmblem(cardColor);changeInner(cardColor)"
							v-model="cardColor"
							class="appearance-none block w-full bg-gray-800 text-white border border-gray-900 rounded py-3 px-4 leading-tight focus:outline-none mb-8"
							id="grid-state"
						>
							<option disabled value="">Please Select Color</option>
							<option>Red</option>
							<option>Green</option>
							<option>Purple</option>
							<option>Black</option>
						</select>
						<div
							class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
						>
							<svg
								class="fill-current h-4 w-4"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
							>
								<path
									d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
								/>
							</svg>
						</div>
					</div>
					<label
						class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
						for="grid-state"
					>
						Rarity
					</label>
					<div class="relative">
						<select
							v-model="cardRarity"
							@change="changeRarity(cardRarity)"
							class="appearance-none block w-full bg-gray-800 text-white border border-gray-900 rounded py-3 px-4 leading-tight focus:outline-none mb-8"
							id="grid-state"
						>
							<option disabled value="">Please Select Rarity</option>
							<option>Common</option>
							<option>Rare</option>
							<option>Epic</option>
							<option>Legendary</option>
						</select>
						<div
							class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
						>
							<svg
								class="fill-current h-4 w-4"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 20 20"
							>
								<path
									d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
								/>
							</svg>
						</div>
					</div>
					<label
						class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
						for="grid-state"
					>
						Artwork
					</label>
					<input
						v-model="artwork"
						class="appearance-none block w-full bg-gray-800 text-white border border-gray-900 rounded py-3 px-4 leading-tight focus:outline-none  mb-8"
						id=""
						type="text"
						@change="changeArt(artwork)"
					/>
				</div>
				<div class="flex flex-col items-center justify-center"
					><div id="container" style="cursor:grab"></div>
					<button
						@click="saveImage"
						class="bg-blue-800 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded my-8"
					>
						Download Image
					</button>
				</div>
			</div>
		</div>
		<script src="./konva.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<script>
			new Vue({
				el: "#app",
				data: {
					canvas: {
						width: 361,
						height: 495
					},
					card: "Card Example",
					artwork:
						"https://news.toyark.com/wp-content/uploads/sites/4/2015/12/Kinetiquettes-Street-Fighter-Ken-Statue-Print.jpg",
					cardName: "Card Example",
					emblem: null,
					bg: null,
					stats: null,
					inner: null,
					art: null,
					rarity: null,
					cost: null,
					mask: null,
					cardMask: "card/mask.png",
					cardTribe: "Human",
					cardColor: "Red",
					cardRarity: "Legendary",
					cardCost: 0,
					cardHealth: 0,
					cardAttack: 0,
					costImg: null,
					healthImg: null,
					artworkImg: null,
					stage: null,
					layer1: null,
					layer2: null,
					layer3: null,
					mask: null,
					rarityLoaded: false,
					emblemLoaded: false,
					colorLoaded: false,
					costLoaded: false,
					innerImg: null,
					emblemImg: null,
					healthLoaded: null,
					attackLoaded: null,
					cardEmblemRarity: {
						Legendary: "card/legendaryRarity.png",
						Epic: "card/epicRarity.png",
						Rare: "card/rareRarity.png",
						Common: "card/commonRarity.png"
					},
					cardEmblem: {
						Red: ["card/redEmblem.png", "card/redBorder.png"],
						Green: ["card/greenEmblem.png", "card/greenBorder.png"],
						Purple: ["card/purpleEmblem.png", "card/purpleBorder.png"],
						Black: ["card/blackEmblem.png", "card/blackBorder.png"]
					},
					number: {
						0: "card/0.png",
						1: "card/1.png",
						2: "card/2.png",
						3: "card/3.png",
						4: "card/4.png",
						5: "card/5.png",
						6: "card/6.png",
						7: "card/7.png",
						8: "card/8.png",
						9: "card/9.png"
					}
				},
				mounted: function() {
					this.stage = new Konva.Stage({
						container: "container",
						width: 361,
						height: 495
					});

					this.layer = new Konva.Layer();
					this.layer2 = new Konva.Layer();
					this.layer3 = new Konva.Layer();

					this.stage.add(this.layer, this.layer2, this.layer3);
					this.mask = new Image();
					this.mask.onload = () => {
						this.artworkImg = new Image();
						this.artworkImg.onload = () => {
							let image = new Konva.Shape({
								sceneFunc: ctx => {
									ctx.save();
									ctx.drawImage(this.mask, -image.x(), -image.y(), 361, 495);
									ctx.globalCompositeOperation = "source-in";
									ctx.drawImage(this.artworkImg, 0, 0);
									ctx.globalCompositeOperation = "source-over";
									ctx.restore();
								},
								hitFunc: ctx => {
									ctx.rect(0, 0, 500, 500);
									ctx.fillStrokeShape(image);
								},
								draggable: true
							});
							this.layer2.add(image);
							this.layer2.draw();
						};
						this.artworkImg.setAttribute("crossOrigin", "anonymous");
						this.artworkImg.src = this.artwork;
					};
					this.mask.src = this.cardMask;

					let imageObj = new Image();
					imageObj.onload = () => {
						var border = new Konva.Shape({
							sceneFunc: ctx => {
								ctx.save();
								ctx.drawImage(imageObj, 0, 0);
								ctx.restore();
							}
						});
						this.layer.add(border);
						this.layer.draw();
					};
					imageObj.src = "card/border.png";
					this.innerImg = new Image();
					this.innerImg.onload = () => {
						if (this.emblemLoaded) return this.layer.draw();
						this.emblemLoaded = true;

						var inner = new Konva.Shape({
							sceneFunc: ctx => {
								ctx.save();
								ctx.drawImage(this.innerImg, 0, 0);
								ctx.restore();
							}
						});
						this.layer.add(inner);
						this.layer.draw();
					};
					this.innerImg.src = this.cardEmblem[this.cardColor][1];
					this.emblemImg = new Image();
					this.emblemImg.onload = () => {
						if (this.colorLoaded) return this.layer3.draw();
						this.colorLoaded = true;
						var emblem = new Konva.Shape({
							sceneFunc: ctx => {
								ctx.save();
								ctx.drawImage(this.emblemImg, 0, 0);
								ctx.restore();
							}
						});
						this.layer3.add(emblem);
						this.layer3.draw();
					};
					this.emblemImg.src = this.cardEmblem[this.cardColor][0];
					let statEmblem = new Image();
					statEmblem.onload = () => {
						var stat = new Konva.Shape({
							sceneFunc: ctx => {
								ctx.save();
								ctx.drawImage(statEmblem, 0, 0);
								ctx.restore();
							}
						});
						this.layer3.add(stat);
						this.layer3.draw();
					};
					statEmblem.src = "card/cardStats.png";

					this.rarityEmblem = new Image();
					this.rarityEmblem.onload = () => {
						if (this.rarityLoaded) return this.layer3.draw();
						this.rarityLoaded = true;
						var rarity = new Konva.Shape({
							sceneFunc: ctx => {
								ctx.save();
								ctx.drawImage(this.rarityEmblem, 0, 0);
								ctx.restore();
							}
						});
						this.layer3.draw();
						this.layer3.add(rarity);
					};
					this.rarityEmblem.src = this.cardEmblemRarity[this.cardRarity];

					this.costImg = new Image();
					this.costImg.onload = () => {
						if (this.costLoaded) return this.layer3.draw();
						this.costLoaded = true;
						var cost = new Konva.Shape({
							sceneFunc: ctx => {
								ctx.save();
								ctx.drawImage(this.costImg, 20, 22, 48, 65);
								ctx.restore();
							}
						});
						this.layer3.add(cost);
						this.layer3.draw();
					};
					this.costImg.src = this.number[this.cardCost];

					this.healthImg = new Image();
					this.healthImg.onload = () => {
						if (this.healthLoaded) return this.layer3.draw();
						this.healthLoaded = true;
						var cost = new Konva.Shape({
							sceneFunc: ctx => {
								ctx.save();
								ctx.drawImage(this.healthImg, 295, 350, 36, 58);
								ctx.restore();
							}
						});
						this.layer3.add(cost);
						this.layer3.draw();
					};
					this.healthImg.src = this.number[this.cardHealth];

					this.attackImg = new Image();
					this.attackImg.onload = () => {
						if (this.attackLoaded) return this.layer3.draw();
						this.attackLoaded = true;
						var cost = new Konva.Shape({
							sceneFunc: ctx => {
								ctx.save();
								ctx.drawImage(this.attackImg, 295, 268, 36, 58);
								ctx.restore();
							}
						});
						this.layer3.add(cost);
						this.layer3.draw();
					};
					this.attackImg.src = this.number[this.cardAttack];
				},
				methods: {
					saveImage: function() {
						function downloadURI(uri, name) {
							var link = document.createElement("a");
							link.download = name;
							link.href = uri;
							document.body.appendChild(link);
							link.click();
							document.body.removeChild(link);
							delete link;
						}
						var dataUrl = this.stage.toDataURL();
						downloadURI(dataUrl, `${this.cardName}.png`);
					},
					changeEmblem: function(color) {
						this.emblemImg.src = this.cardEmblem[color][0];
					},
					changeInner: function(color) {
						return (this.innerImg.src = this.cardEmblem[color][1]);
					},
					changeRarity: function(color) {
						return (this.rarityEmblem.src = this.cardEmblemRarity[color]);
					},
					changeCost: function(cost) {
						return (this.costImg.src = this.number[this.cardCost]);
					},
					changeHealth: function(cost) {
						return (this.healthImg.src = this.number[this.cardHealth]);
					},
					changeAttack: function(cost) {
						return (this.attackImg.src = this.number[this.cardAttack]);
					},
					changeArt: function(card) {
						return (this.artworkImg.src = card);
					}
				}
			});
		</script>
	</body>
</html>
